.card-RBAC{
    margin: 5rem 0;
}
.nxtbtn{
    padding: 0.5rem 1rem;
    margin-bottom: 3rem;
}
.titl:hover{
    color: brown
    ;
}
.RBAC-card{
    margin: 2rem 0;
    width: 94%;
    margin: auto;
}