.judges{
    font-family: 'Poppins', sans-serif;
}.judges-img{
    background: linear-gradient(rgba(37, 65, 192, 0.719),rgb(67, 37, 238)) , url('../../../public/img/navimg.jpg');
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 55vh;
}
.Navbar{
    text-transform: uppercase;
}
.judges-content{
    text-align: center;
    padding-top: 8.5%;
    color: #fff;
    font-size: 25px;
}
